@model Dominio.Entidades.Disciplina

<h2>Formulário de Disciplinas</h2>

<form class="form-horizontal" asp-action="Salvar" asp-controller="Disciplina" method="POST">
    <input type="hidden" asp-for="Id">
  <div class="form-group">
    <label for="Name">Nome</label>
    <input type="text" class="form-control" asp-for="Nome">
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <button class="btn btn-success">Salvar</button>
    </div>
  </div>
</form>

